<%#
  Formulario para crear o editar un Festivo.
  Se reutiliza en las vistas 'new' y 'edit'.
%>
<%= form_with(model: [:admin, festivo], local: true) do |form| %>
  <% if festivo.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Se encontraron <%= pluralize(festivo.errors.count, "error") %></h4>
      <p>Por favor, corrige los siguientes problemas:</p>
      <hr>
      <ul>
        <% festivo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :fecha, class: "form-label" %>
        <%= form.date_select :fecha, { order: [:day, :month, :year] }, { class: "form-select d-inline-block w-auto" } %>
      </div>
      <div class="mb-3">
        <%= form.label :descripcion, class: "form-label" %>
        <%= form.text_field :descripcion, class: "form-control", placeholder: "Ej: San Valero (Festivo Local Zaragoza)" %>
      </div>
      <div class="mb-3 form-check form-switch">
        <%= form.check_box :apertura_autorizada, class: 'form-check-input', role: 'switch' %>
        <%= form.label :apertura_autorizada, '¿Es una Apertura Autorizada?', class: 'form-check-label fw-bold' %>
        <div class="form-text mt-1">
          Márcalo si es un festivo o domingo en el que la empresa abre. Esto activará la opción de "Pago Doble" en la vista semanal. Si no se marca, se considera un festivo de cierre.
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= form.submit "Guardar Festivo", class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', admin_festivos_path, class: 'btn btn-secondary' %>
  </div>
<% end %>